<!DOCTYPE html>
<html lang="en">
<body>
    <section class="slider">
        <div class="container" style="width:80%">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="slide">
                            <img src="../assets/images/panner1.jpg" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3>Chào mừng đến với bookstore</h3>
                                    <h5>Khám phá kho sách trực tuyến lớn nhất Việt Nam</h5>
                                    <a [routerLink]="['/shop']" class="btn">Click ngay!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template carouselSlide>
                    <div class="item">
                        <div class="slide">
                            <img src="../assets/images/panner2.jpg" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3>Chào mừng đến với bookstore</h3>
                                    <h5>Khám phá kho sách trực tuyến lớn nhất Việt Nam</h5>
                                    <a [routerLink]="['/shop']" class="btn">Click ngay!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="slide">
                            <img src="../assets/images/panner3.jpg" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3>Chào mừng đến với bookstore</h3>
                                    <h5>Khám phá kho sách trực tuyến lớn nhất Việt Nam</h5>
                                    <a [routerLink]="['/shop']" class="btn">Click ngay!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="slide">
                            <img src="../assets/images/panner4.jpg" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3>Chào mừng đến với bookstore</h3>
                                    <h5>Khám phá kho sách trực tuyến lớn nhất Việt Nam</h5>
                                    <a [routerLink]="['/shop']" class="btn">Click ngay!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="slide">
                            <img src="../assets/images/panner5.jpg" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3>Chào mừng đến với bookstore</h3>
                                    <h5>Khám phá kho sách trực tuyến lớn nhất Việt Nam</h5>
                                    <a [routerLink]="['/shop']" class="btn">Click ngay!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="slide">
                            <img src="../assets/images/panner6.jpg" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3>Chào mừng đến với bookstore</h3>
                                    <h5>Khám phá kho sách trực tuyến lớn nhất Việt Nam</h5>
                                    <a [routerLink]="['/shop']" class="btn">Click ngay!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="slide">
                            <img src="../assets/images/panner7.jpg" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3>Chào mừng đến với bookstore</h3>
                                    <h5>Khám phá kho sách trực tuyến lớn nhất Việt Nam</h5>
                                    <a [routerLink]="['/shop']" class="btn">Click ngay!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="slide">
                            <img src="../assets/images/panner8.jpg" alt="slide1">
                            <div class="content">
                                <div class="title">
                                    <h3>Chào mừng đến với bookstore</h3>
                                    <h5>Khám phá kho sách trực tuyến lớn nhất Việt Nam</h5>
                                    <a [routerLink]="['/shop']" class="btn">Click ngay!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </section>
    <section class="recomended-sec">
        <div class="container">
            <div class="title-new">
                <h2>Mới cập nhật</h2>
                <hr>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6" *ngFor="let item of nbooks">
                    <div class="item" (click)= "getbook1(item)">
                        <img width="160" height="250" src={{item.PathImage}} alt="img">
                        <h3>{{item.Title}}</h3>
                        <h6><span class="price">{{item.PriceAfterSale}}.000 đ </span> / <a >Mua ngay</a>
                        </h6>
                        <div class="hover">
                            <a >
                                <span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-sec">
        <div class="about-img">
            <figure style="background:url(../assets/images/about-img.jpg)no-repeat;"></figure>
        </div>
        <div class="about-content">
            <h2>BookStore</h2>
            <p>Để xây dựng Thương hiệu mạnh, một trong những định hướng quan trọng hàng đầu của Book Store là chiến lược phát triển nguồn nhân lực - mấu chốt của mọi sự thành công.</p>
            <p>Book Store có hơn 2.200 CB-CNV, trình độ chuyên môn giỏi, nhiệt tình, năng động, chuyên nghiệp. Lực lượng quản lý Book Store có thâm niên công tác, giỏi nghiệp vụ nhiều kinh nghiệm.</p>
            <div class="btn-sec">
                <a [routerLink]="['/shop']" class="btn yellow">Mua ngay</a>
                <a [routerLink]="['/account/login']" class="btn black">Đăng ký</a>
            </div>
        </div>
    </section>
    <section class="recent-book-sec">
        <div class="container">
            <div class="title">
                <h2>Sách được đánh giá cao</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4" *ngFor='let item of hbooks'>
                    <div class="item" (click)= "getbook2(item)">
                        <img width="160" height="250" src={{item.PathImage}} alt="img">
                        <h3><a >{{item.Title}} </a></h3>
                        <h6><span class="price">{{item.PriceAfterSale}}.000 đ</span> / <a >Mua ngay</a></h6>
                    </div>
                </div>

            </div>
            <div class="btn-sec">
                <a [routerLink]="['/shop']" class="btn black-btn">Xem tất cả</a>
            </div>
        </div>
    </section>
    <section class="about-sec">
        <div class="about-img">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0XWs-OzlebU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="about-content">
            <p>Dù xã hội có phát triển đến đâu, các phương thức lưu giữ thông tin khác có thể phát triển nhưng việc lưu giữ sách và hiểu được tầm quan trọng của sách sẽ giúp cho xã hội ngày càng văn minh, tiến bộ hơn. Đọc sách có chọn lọc và hiểu hết các giá trị trong cuốn sách đó sẽ giúp người đọc ngày càng phát triển được bản thân. 
            Chính vì vậy, người trẻ mỗi ngày hãy cố gắng rèn luyện, giải trí bằng việc đọc sách để cuộc sống trở nên thú vị hơn.</p>
            <div class="btn-sec">
                <a [routerLink]="['/shop']" class="btn yellow">shop books</a>
                <a href="login.html" class="btn black">subscriptions</a>
            </div>
        </div>
    </section>
    
    <section class="features-sec">
        <div class="container">
            <ul>
                <li>
                    <span class="icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
                    <h3>MUA SẮM AN TOÀN</h3>
                    <h5></h5>
                    <h6>Nhà sách chúng tôi cam kết về chất lượng của cuốn sách, nếu có bất cứ thắc mắc gì xin hãy liên lạc để được tư vấn và hưởng quyền lợi</h6>
                </li>
                <li>
                    <span class="icon return"><i class="fa fa-reply-all" aria-hidden="true"></i></span>
                    <h3>30 NGÀY ĐỔI TRẢ</h3>
                    <h5></h5>

                    <h6>Trong trường hợp cuốn sách bị lỗi như: rách, mất trang, nhòe, quý khách có thể gửi trả trong 30 ngày mà không phát sinh chi phí</h6>

                </li>
                <li>
                    <span class="icon chat"><i class="fa fa-comments" aria-hidden="true"></i></span>
                    <h3>HỖ TRỢ 24/7</h3>
                    <h5></h5>
                    <h6>Áp dụng công nghệ trong kinh doanh, cửa hàng chúng tôi phục vụ suốt 24 tiếng với 7 ngày trong tuần, sẵn sàng phục vụ chu đáo</h6>
                </li>
            </ul>
        </div>
    </section>
    <section class="offers-sec" style="background:url(images/offers.jpg)no-repeat;">
        <div class="cover"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail">
                        <h3>Giảm giá 50% sách tiếng Nhật</h3>
                        <h6>Chúng tôi đang có chương trình khuyến mãi dành cho Wjbu với số lượng có hạn</h6>
                        <a [routerLink]="['/shop']" class="btn blue-btn">Xem chi tiết</a>
                        <span class="icon-point percentage">
                            <img src="../assets/images/precentagae.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail">
                        <h3>Mua 5 tặng 1</h3>
                        <h6>Khi đặt hàng từ 5 cuốn sách trở lên, quý khách sẽ được tặng 1 cuốn sách bất kỳ</h6>
                        <a [routerLink]="['/shop']" class="btn blue-btn">Xem chi tiết</a>
                        <span class="icon-point amount"><img src="../assets/images/amount.png" alt=""></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial-sec">
        <div class="container">
            <owl-carousel-o [options]="quotesOption">
                <ng-template carouselSlide>
                    <div class="item">
                        <h3>
                            Người đọc quá nhiều và dùng tới bộ óc quá ít sẽ rơi vào thói quen suy nghĩ lười biếng.
                        </h3>
                        <div class="box-user">
                            <h4 class="author">Albert Einstein</h4>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <h3>
                            Một người không đọc sách chẳng hơn gì kẻ không biết đọc.
                        </h3>
                        <div class="box-user">
                            <h4 class="author">Mark Twain</h4>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <h3>
                            Đọc sách hay cũng giống như trò truyện với các bộ óc tuyệt vời nhất của những thế kỷ đã trôi qua.
                        </h3>
                        <div class="box-user">
                            <h4 class="author">Rene Descartes</h4>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <h3>
                            Sách hay, cũng như bạn tốt, ít và được chọn lựa; chọn lựa càng nhiều, thưởng thức càng nhiều.
                        </h3>
                        <div class="box-user">
                            <h4 class="author">Louisa May Alcott</h4>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="left-quote">
            <img src="../assets/images/left-quote.png" alt="quote">
        </div>
        <div class="right-quote">
            <img src="../assets/images/right-quote.png" alt="quote">
        </div>
    </section>

</body>

</html>
