

<div  id= "abc"style="margin-bottom: 0px;">
    
    <section id="ves-wrapper">
        <section id="page" class="offcanvas-pusher" role="main">

            <div class="wrapper" id="wrapper">
                <div id="loading"></div>
                <div class="page">
                    
                    <div class="main-container col1-layout no-margin-top">
                        <div class="main">
                            <div class="margin-bottom: 5px;">
                            </div>
                            <div class="col-main">
                                <div class="container">
                                    <div class="container-inner">
                                        <div style="background-color: white; margin-left: 30px;">
                                            <div>
                                                <h5 class="card-header">Thông tin người nhận </h5>
                                                 <button class="button4 hvr-grow blue-btn" (click) ="onEditt()">Lưu</button>
                                                 <button class="button4 hvr-grow gray-btn"  (click)="xoaform()">Xóa</button>
                                            </div>
                                            <div class="my-account" >
                                                <style>
                                                    
                                                    .my-account{
                                                    padding-right: 15px;
                                                    padding-left: 15px;
                                                    margin-top: 0 !important;
                                                    }
                                                </style>
                                                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >          
                                                        <div class="form-group">
                                                            <label>Họ và Tên</label>
                                                            <input type="text" formControlName="hoten"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hoten.errors }" />
                                                            <div *ngIf="submitted && f.hoten.errors" class="invalid-feedback">
                                                                <div *ngIf="f.hoten.errors.required">Nhập họ tên</div>
                                                            </div>                    
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Điện thoại</label>
                                                            <input type="text" formControlName="dienthoai" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dienthoai.errors }" />
                                                            <div *ngIf="submitted && f.dienthoai.errors" class="invalid-feedback">
                                                                <div *ngIf="f.dienthoai.errors.required">Nhập số điện thoại</div>
                                                                <div *ngIf="f.dienthoai.errors.pattern">Số điện thoại sai</div>
                                                                <div *ngIf="f.dienthoai.errors.minlength">Số điện thoại ngắn</div>
                                                            </div>                    
                                                        </div>
                                        
                                                        <div class="form-group">
                                                            <label>Tỉnh/Thành phố</label>
                                                            <select formControlName="tinh" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tinh.errors }" (blur)="onBlurtinh(this)">
                                                                <option *ngFor="let order of tinh; let i = index" [value]="tinh[i].id">
                                                                    {{tinh[i].name}}
                                                                  </option>
                                                            </select>
                                        
                                                            
                                                            <div *ngIf="submitted && f.tinh.errors" class="invalid-feedback">
                                                                <div *ngIf="f.tinh.errors.required">Tỉnh is required</div>
                                                            </div>
                                                        </div>
                                        
                                                        <div class="form-group">
                                                            <label>Quận/Huyện</label>
                                                            <select formControlName="huyen" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.huyen.errors }" (blur)="onBlurhuyen(this)">
                                                                <option *ngFor="let order of huyen; let i = index" [value]="huyen[i].id">
                                                                    {{huyen[i].name}}
                                                                  </option>
                                                            </select>
                                        
                                                            
                                                            <div *ngIf="submitted && f.huyen.errors" class="invalid-feedback">
                                                                <div *ngIf="f.huyen.errors.required">Huyện is required</div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Xã/Phường</label>
                                                            <select formControlName="xa" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.xa.errors }">
                                                                <option *ngFor="let order of xa; let i = index" [value]="xa[i].id">
                                                                    {{xa[i].name}}
                                                                  </option>
                                                            </select>
                                        
                                                            
                                                            <div *ngIf="submitted && f.xa.errors" class="invalid-feedback">
                                                                <div *ngIf="f.xa.errors.required">Xã is required</div>
                                                            </div>
                                                        </div>
                                        
                                                   
                                                    
                                           
                                        
                                                    <div class="form-group form-check">
                                                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                                                        <label for="acceptTerms" class="form-check-label" style="margin-left: 15px;margin-top: 5px">Xác nhận điều khoản</label>
                                                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Xác nhận điều khoản is required</div>
                                                    </div>
                                                    
                                        
                                        
                                        
                                                      
                                                </form>
                                                
                                            
                                            </div>
                                            
                                            <div class="text-center">
                                                <button class="popup-fahasa-default-alert-confirm hvr-grow" (click)="onSubmit()" style="margin-right: 10px">Thanh toán</button>
                                                <button class="popup-fahasa-default-alert-cancel hvr-grow" (click)="onCance()"style="margin-left: 10px">Trở lại</button>
                                            </div>
                                        </div>
                                          


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </section>


   
</div>